<!DOCTYPE html>

<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="assignment5">
      <button @click="show = !show">Toggle</button>
      <p v-if="show">You either see me...</p>
      <p v-else>...or me.</p>

      <hr />

      <ul>
        <li v-for="(sport, index) in sports">{{ sport }} ({{ index }})</li>
      </ul>

      <hr />

      <div v-for="(key, value, index) in lotr">
        {{ key }}: {{ value }} ({{ index }})
      </div>

      <hr />

      <div v-for="value in toughLoop">
        <div v-if="Array.isArray(value)">
          <div v-for="item in value">{{ item }}</div>
        </div>
        <div v-else>{{ value }}</div>
      </div>
    </div>

    <script src="./assignment5.js"></script>
  </body>
</html>
